<?xml version="1.0"?>
<config>
  <modules>
    <Eb_Easebuzz>
      <version>0.1.0</version>
    </Eb_Easebuzz>
  </modules>
  <global>
    <models>
      <easebuzz>
        <class>Eb_Easebuzz_Model</class>
      </easebuzz>
    </models>
    <helpers>
      <easebuzz>
        <class>Eb_Easebuzz_Helper</class>
      </easebuzz>
    </helpers>
    <blocks>
      <easebuzz>
        <class>Eb_Easebuzz_Block</class>
      </easebuzz>
    </blocks>
  </global>
  <default>
    <payment>
      <easebuzz>
        <model>easebuzz/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Easebuzz</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </easebuzz>
    </payment>
  </default>
  <frontend>
    <routers>
      <easebuzz>
        <use>standard</use>
        <args>
          <module>Eb_Easebuzz</module>
          <frontName>easebuzz</frontName>
        </args>
      </easebuzz>
    </routers>
  </frontend>
</config>